@media only screen and (max-width: 475px){
    /* nav bar */
    .nav-bar{
        flex-direction: column;
    }
    .manus{
        flex-direction: column;
    }
    .bennar-section{
        flex-direction: column-reverse;
        width: 100vw;
      
    }
    .bennar-content{
        width: 80vw;
        margin: 1em auto;
    }
    .bennar-content h1{
        font-size: 2rem;
        width: 80vw;
    }
    .bannar-photo{
        width: 300px;
        height: 300px;
       
    }
    .bannar-photo img{
        width: 100%;
    }
    .bannar-btn button{
        font-size: 0.75rem;
        padding: 5px 15px;
    }
    /* brand-section */
    .brand-section{
        width: 80vw;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        
    }

    .brand-img{
        width:50px;
    }
    .brand-img img{
        width: 100%;
        height: 100%;
    }
    /* card  */
    .cards{
        grid-template-columns:1fr;
        width: 80vw;
        
    }
    .card-section-heading{
        font-size: 1rem;
        margin-top: 1em;
    }
    /* featured section */
    .featured{
        flex-direction: column;

    }
    .featured-products{
        width: 80vw;
        margin:25px auto; 
    }
    .featured-photo , .featured-content{
        width: 80vw;
       
    }

}
@media only screen and (min-width: 476px) and  (max-width: 644px){
    /* nav bar */
    .nav-bar{
        flex-direction: column;
    }
    .bennar-section{
        flex-direction: column-reverse;
        width: 80vw;
        margin: auto;
    }
    .bennar-content{
        width: 80vw;
        margin: 1em auto;
    }
    .bennar-content h1{
        font-size: 2rem;
        width: 80vw;
    }
    .bannar-photo{
        width: 400px;
        height: 400px;
       
    }
    .bannar-photo img{
        width: 100%;
    }

  /* brand-section */
  .brand-section{
    width: 80vw;
    margin: 25px auto;
  

}
/* card */
.card-section-heading{
    font-size: 1.25rem;
    margin-top: 1em;
}
.cards{
    grid-template-columns:1fr;
    margin: 10px auto;
    width: 60vw;
}
/* featured section */
.featured{
    flex-direction: column;

}
.featured-products{
    width: 80vw;
    margin:25px auto; 
}
.featured-photo , .featured-content{
    width: 80vw;
    margin: 40px auto;
   
}
    
    }

    @media only screen and (min-width: 645px) and (max-width:700px){
        .bennar-section{
            flex-direction: column-reverse;
            width: 100vw;
        }
        .bennar-section{
            width: 80vw;
            margin: 3em auto;
        } 
        .bannar-photo{
            width: 200px;
            height: 200px;
           
        }
        .bannar-photo img{
            width: 100%;
        }
        .bennar-content h1{
            font-size: 1rem;
            width: 80vw;
        }
        .bannar-photo{
            width: 300px;
            height: 300px;
           
        }
        .bennar-content{
            width: 80vw;
            margin: 1em auto;
        }
          /* brand-section */
  .brand-section{
    width: 80vw;
    margin: 0 auto;

}
/* card */
.cards{
    grid-template-columns:1fr;
    margin: 10px auto;
    width: 20vw;
}
.card-section-heading{
    font-size: 1.75rem;
    margin-top: 1em;
}
/* featured section */
.featured{
    flex-direction: column;

}
.featured-products{
    width: 80vw;
    margin:25px auto; 
}
.featured-photo {
    width: 80vw;
    margin: 40px auto;
   
}
.featured-content{
    margin: 55px auto;
}
    }
    @media only screen and (min-width: 701px) and (max-width: 1220px){
        .bennar-section{
            width: 80vw;
            margin: 3em auto;
        } 
        .bannar-photo{
            width: 400px;
            height: 280px;
        }
        .bannar-photo img{
            width: 100%;
        }
        .bennar-content h1{
            font-size: 2rem;
            width: 50vw;
          
    }
      /* brand-section */
  .brand-section{
    width: 80vw;
    margin: 0 auto;

}
/* card */
.cards{
    grid-template-columns:1fr 1fr;
    margin: 10px auto;
    width: 60vw;
}
.card-section-heading{
    font-size: 1.75rem;
    margin-top: 1em;
}
/* featured section */
.featured{
    flex-direction: column;

}
.featured-products{
    width: 80vw;
    margin:25px auto; 
}
.featured-photo {
    width: 80vw;
    margin: 40px auto;
    margin-bottom: 350px;
  
}
.featured-content{
    margin: 55px auto;
}
.featured-content h1 ,.featured-content p{
    color: rgb(5, 5, 5);
}

    }
