/* this is text style*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* this is body*/
body{
   
    font-family: 'Poppins', sans-serif;
    background-color: rgb(200, 218, 241);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
/*start header style*/
samp{
    font-family:'poppins';
    font-weight: 700;
    color: rgb(84, 94, 245);
}
.navbar{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 30px;
    align-items: center;
}

.manu{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-content: flex-end;
    margin-left:130px;
    width: 100%;

}
.manu li{
    list-style: none;
    margin: 10px;
    
}
.manu li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    
}


/*fast conteiner */
.conteint{
 display: grid;
 grid-template-columns: 1fr 1fr;
 justify-content:center;
 align-items: center;
 margin-top: 50px;
 margin: 0 auto;
 
}
.section-titel h1{
font-family:'Poppins';
Weight:700;
font-size:44px;
}
.main-camera p{
    font-family:'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    }
 .common-button{
    margin: 10px 0px;
    padding:10px 24px;
    background-color: #e02c6d;
    color: white;
    font-size: 16px;
    font-family: 'poppins';
    font-weight: 700;
    border-radius:41px;
    outline: 0;
    border: 0;

 }
    
.main-camera{
    width: 100%;
    background-image:url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
}
.main-camera img{
   width: 440px;
   height: 414px;
   margin: 15px;
}

/*logo*/
.logo{
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(7,1fr);
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top:80px;
    border-bottom: 0.50px solid gray;
    border-top: 0.50px solid gray;
    justify-content: space-between;
    padding: 10px 10px;
}

/* start cart section style */
.section-name{
    display: grid;
    justify-content: center;
    align-items: center;
    font-family:'Poppins';
    font-weight:600;
    Size:28px;
    margin-top:60px;
}
.cart-section{
    width: 1047px;
    height: 1662;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    margin-top: 30px;
    row-gap:5px;
    align-items: center;
    justify-content:space-around;
    margin: 0 auto;
}
.cart{
    width: 329px;
    height: 476px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin:5px;
}

    

